[submodule "Middlewares/cli-simple"]
	path = Middlewares/cli-simple
	url = https://github.com/r315/cli-simple.git

[submodule "Middlewares/ptpd"]
	path = Middlewares/ptpd
	url = https://github.com/ptpd/ptpd.git
[submodule "target/stm32f769i-discovery/Drivers/STM32F7xx_HAL_Driver"]
	path = target/stm32f769i-discovery/Drivers/STM32F7xx_HAL_Driver
	url = https://github.com/STMicroelectronics/stm32f7xx-hal-driver.git
