[submodule "Middlewares/cli-simple"]
	path = Middlewares/cli-simple
	url = https://github.com/r315/cli-simple.git

[submodule "Middlewares/ptpd"]
	path = Middlewares/ptpd
	url = https://github.com/ptpd/ptpd.git
